<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265241721815-bmarfn0ecsp5njv6n5utk3bma4glp1vj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265241721815-bmarfn0ecsp5njv6n5utk3bma4glp1vj</string>
	<key>API_KEY</key>
	<string>AIzaSyBs17s9C8gZGuW8LwY5Omr5G1xxa9Csz-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>265241721815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assesmentTask</string>
	<key>PROJECT_ID</key>
	<string>lat-long-0133</string>
	<key>STORAGE_BUCKET</key>
	<string>lat-long-0133.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265241721815:ios:eaf6c58944fa038e6ea992</string>
</dict>
</plist>